.actions-form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 225px;
  column-gap: 16px; 

  @include tablet {
        max-width: 180px;
      }

  &__field {
    flex: 1; 
  }
}

.field {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &__label {
    @include visually-hidden;
  }

  &__input {
    height: 48px;
    padding-inline: 20px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid $color-accent;
    border-radius: $border-radius;
    color: $color-dark;
    transition: 
    border-color $transition-duration, 0.3s,
    background-color $transition-duration, 0.3s;

    @include tablet {
    height: 38px;
    padding-inline: 14px;
    width: 100%;
    max-width: 66px;
    }
    }

    &::placeholder {
      color: $color-dark;
    }

    &__input:hover {
      border-color: $color-light-green;
    }

    &__input:focus {
      outline: none;
      border-color: $color-light-green;
      background-color: $color-light;
    }
  }






