.button {
@include flex-center(true);

  height: $button-height;
  padding-inline: 40px;
  font-size: 14px;
  color: $color-light;
  background: $gradient-primary;
  border: $border;
  border-radius: $border-radius;
  max-width: 163px;

   @include tablet {
        height: 38px;
        max-width: 108px;
        padding-inline: 14px;
      }

 @include hover {
    color: $color-dark;
    background: $color-light-green;
  }

&--transparent {
  max-width: 129px;

  @include tablet {
        max-width: 102px;
      }
}

&--primary {
  margin-top: 30px;
  height: 46px;
  width: 100%;
  max-width: 330px;

   @include tablet {
      margin-top: 15px;
    }
   @include mobile {
        margin-top: 5px;
      } 
     @include mobile-s {
        margin-top: 15px;
      }  
}
}

