.circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: var(--color-accent-alt);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px; 

  @include desktop {
       width: 55px;
       height: 55px;
    }

  @include desktop {
       width: 45px;
       height: 45px;
    }  
}