.first-screen {
  display: block;
  height: 694px;
  background: url('../images/background1.png') center/cover no-repeat;

   @include desktop {
    height: 616px;
   }

   @include tablet {
    height: 492px;
   }
   
   @include mobile {
    height: 520px;
   }

   @include mobile-s {
    height: 442px;
   }
}

