.first-screen {
  display: block;
  height: 694px;
  background: url('../images/background1.png') center/cover no-repeat;

  @include desktop {
        height: 610px;
      }
  
  @include tablet {
        height: 456px;
      } 
      @include mobile {
        height: 375px;
      }
}

