.pagination {
  width: 100%;
  max-width: 480px;
  margin-inline: auto;
  background: transparent;
  gap: 8px; 
  padding: 0;
  border: none;
  margin-top: 15px;


  &__list {
  display: flex;
  align-items: center;
  gap: 3px;
  list-style: none;
  padding: 0;
  margin: 0;
}

 &__button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $color-dark-alt;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &--active {
    width: 24px;           
    height: 4px;
    border-radius: 2px;
    opacity: 1;
    background-color: $color-accent-alt;
  }

  &:hover {
    opacity: 0.6;
  }
}
}
