.section {
  padding-block: $section-padding-y;
  position: relative;

    @include mobile {
      padding-block: 15px;
    }

  &__decor {
   position: absolute;
   width: auto; 
   max-width: 100%; 
   opacity: 1;
   pointer-events: none;
   user-select: none;

  &-small {
   top: 70px;
   right: 70px;
   height: 125px;
   z-index: -1;

   @include desktop-xl {
    right: 33px;
   }

   @include desktop {   
    right: 0;
    height: 110px;
   }

   @include tablet {
    display: none;
   }
  }
  
   &-big {
   top: -60px;
   left: 142px;
   height: 244px;
   opacity: 1;
   z-index: 1;

   @include desktop-xl {
    left: 116px;
   }

   @include desktop {
    left: 74px;
    height: 230px;
   }

   @include tablet {
    display: none;
   }
  }

  &-alt {
   top: 600px;
   right: 86px;
   height: 108px;
   opacity: 1;
   z-index: -2;

   @include desktop-xl {
    right: 46px;
   }

   @include desktop {
    right: 14px;
   }

   @include tablet {
    display: none;
   }
  }
  }
  
  &--hidden-x {
    overflow-x: hidden;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    margin-top: -40px;

    @include desktop {
      row-gap: 12px;
    }
  
    @include tablet {
      row-gap: 6px;
    }


    &-features,
    &-numbers,
    &-prising,
    &-reviews {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 6px 16px;
      font-size: 12px;
      font-weight: 500;
      height: 22px; 
      background-color: $color-light-blue;
      border: none;
      border-radius: 36px;
      color: $color-accent;
      text-decoration: none;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      transition: all $transition-duration;

       @include tablet {
        font-size: 8px;
      }

      @include mobile {
        padding: 5px 8px;
        max-width: 64px;
      }
    }

      &-features {
      max-width: 70px;
      margin-bottom: 10px;

      @include mobile {
        text-transform: uppercase;
      }
    }

      &-numbers {
      max-width: 102px;
      margin-bottom: 10px;
    

      @include mobile {
        text-transform: none;
      }
    }

      &-prising {
        max-width: 58px;
        margin-bottom: 24px;

      @include tablet {
      margin-bottom: 15px;
    }
      @include mobile {
        margin-bottom: 10px;
      }

       @include mobile-s {
        margin-bottom: 15px;
      }
      }
      
      &-reviews {
        max-width: 154px;
      }
    
    &:hover {
        color: $color-dark;
      }
    }

  &__title {
    font-weight: 700;
    color: $color-dark-gray;
    text-align: center;


    @include tablet {
      font-size: 16px;
    }

  }

  &__description {
    font-weight: 500;
    color: $color-light-gray;
    text-align: center;
    margin-bottom: 30px;

    @include tablet {
      font-size: 14px;
    }
    @include mobile {
      margin-bottom: 15px;
    }
  }
}


