body {
  @include fluid-text(18, 16);

  font-family: $font-family-base;
  font-weight: 500;
  line-height: 1.28;
  color: $color-dark;
  background-color: $color-light-alt;
  overflow-x: hidden;
  padding-bottom: 60px;
}


a,
button,
input,
textarea,
svg * {
  transition-duration: $transition-duration;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

h1, .h1 {
  @include fluid-text(46, 28);
}

h2, .h2 {
  @include fluid-text(24, 16);
}

h3, .h3 {
  @include fluid-text(24, 18);
}
h4, .h4 {
  @include fluid-text(16, 14);
}

